* {
    background-color: rgb(241, 243, 122);
}


#heading {
    font-family: "Brush Script MT" , cursive;
    text-align: center;
    font-size: 40px;
    background-color:rgb(224, 99, 67);
}

li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:25px;
    word-spacing: normal;
}